
@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
        url("../fonts/NunitoSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
        url("../fonts/NunitoSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
        url("../fonts/NunitoSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* 
@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
        url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} */



:root {
    --header-bg: #fff;
    --main-content-bg: #FAFAFA;
    --card-bg: #fff;
    --text-color: #111517;
    --search-color: #848484;
    --detail-bg-color: #fff;
    --place-holder-color: rgba(132, 132, 132, 1);
    --back-to-link-color: transparent;
    --dark-mode-svg-bg: var(--text-color);
}

.dark-mode {
    --header-bg: #2B3844;
    --main-content-bg: #202C36;
    --card-bg: #2B3844;
    --text-color: #fff;
    --detail-bg-color: #202c36;
    --place-holder-color: #fff;
    --back-to-link-color: rgba(43, 56, 68, 1);
    --dark-mode-svg-bg: transparent;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--main-content-bg);
    font-size: 14px;
    /* line-height: 1.5; */
    font-family: "Nunito Sans", "Arial", sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.detail-body {
    background-color: var(--detail-bg-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1321px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
    background-color: var(--header-bg);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23.5px;
    padding-bottom: 23.5px;
}

.header-title {
    font-size: 24px;
    line-height: 32.74px;
    margin: 0;
    margin-right: 10px;
    font-weight: 800;
    white-space: nowrap;
    color: var(--text-color);
    text-decoration: none;
}

.dark-mode-btn {
    /* outline: none; */
    border: none;
    background-color: transparent;
}

.dark-mode-btn:hover {
    cursor: pointer;
}

.button-flex {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 21.82px;
    font-weight: 600;
    color: var(--text-color);
}

.button-text {
    display: inline-block;
    margin-left: 8px;
    white-space: nowrap;
}

.button-svg {
    color: var(--dark-mode-svg-bg);
    fill: var(--dark-mode-svg-bg);
}

.main-container {
    padding-top: 48px;
    padding-bottom: 45px;
}

.main-top-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
}

.search-bar {
    background-image: url("../img/icon/icon-search-black.svg");
    background-repeat: no-repeat;
    background-position: left 34px center;
    padding-top: 19px ;
    padding-bottom: 19px;
    padding-left: 74px;
    width: 480px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--header-bg);
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
}

.search-bar::placeholder {
    color: var(--place-holder-color);
}

.select-country {
    border: none;
    /* outline: none; */
    padding: 18px 77px 18px 24px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--header-bg);
    color: var(--text-color);
    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    background-image: url("../img/icon/drop-down.svg");
    background-repeat: no-repeat;
    background-position: right 22px center;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}


.countries-list {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: -75px;
    /* margin-right: -75px; */
}

.countries-item {
    border-radius: 5px;
    background-color: var(--card-bg);
    padding-bottom: 46px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    margin-bottom: 75px;
    /* display: flex; */
}

.countries-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    /* outline: none; */
    transition: text-indent 0.1s ease;
}

.countries-item:not(:nth-child(4n)) {
    margin-right: 75px;
}

.countries-item-link:hover {
    text-indent: 2px;
}

.country-flag {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 24px;
    display: block;
}

.country-title {
    margin: 0;
    padding-left: 24px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 26px;
    /* font-weight: 800; */
}

.country-info-wrapper {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.country-info-wrapper:not(:last-child) {
    margin-bottom: 8px;
}

.country-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.country-value {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}


/* DETAIL HTML */
.detail-main-content {
}

.back-to-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 10px 29px 10px 33px;
    width: 136px;
    border-radius: 6px;
    background-color: var(--back-to-link-color);
    margin-bottom: 80px;
}

.back-to-link-text {
    margin-left: 10px;
}


.detail-country-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-info-title {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 800;
    font-size: 32px;
    line-height: 43px;
    font-family: "Nunito Sans", sans-serif;
}

.detail-country-img {
    border-radius: 6px;
    display: block;
    margin-right: 120px;
}

.country-info-list {
    display: flex;
    margin-bottom: 68px;
}

.detail-country-info-wrapper {
    padding: 0;
    white-space: nowrap;
}

.country-info-item:first-child {
    margin-right: 141px;
}

.detail-country-info-wrapper .country-info,
.detail-country-info-wrapper .country-value {
    font-size: 16px;
    line-height: 32px;
}

.border-ountries {
    display: flex;
    align-items: center;
}

.border-contries-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    margin-right: 15px;
}

.border-contries-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.border-contries-item {
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--header-bg);
    padding: 5px 28px 4px 27px;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

.border-contries-item:not(:last-child) {
    margin-right: 10px;
}

.border-contries-link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    outline: none;
}

.border-contries-item:hover {
    transform: scale(0.8);
}

.border-contries-item:active {
    opacity: 0.8;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}